@import 'pcs/spooky_mobile/scary.scss';   

h1 {

  position: fixed;
  background: black;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 100px;
  height: 100px;
}

ul {
  list-style: none;
  }

li a {
  text-decoration: none;
  color: pink;
}

#wrapper {
  background-color: lightgrey;
}

