/* line 1, ../scss/style.scss */
h1 {
  position: fixed;
  background: orange;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  color: white;
  padding: 7px 7px;
  z-index: 1;
}

/* line 17, ../scss/style.scss */
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 100px;
  height: 100px;
}

/* line 26, ../scss/style.scss */
.menuLarge {
  display: none;
}

/* line 30, ../scss/style.scss */
ul {
  list-style: none;
}

/* line 34, ../scss/style.scss */
li a {
  text-decoration: none;
  color: pink;
}

/* line 39, ../scss/style.scss */
#wrapper {
  background-color: lightgrey;
}

/* Initial body */
/* line 47, ../scss/style.scss */
body {
  left: 0;
  margin: 0;
  height: 100%;
  overflow: auto;
  position: relative;
  background-color: lightgrey;
}

/* Initial menu */
/* line 57, ../scss/style.scss */
.menu {
  background: #202024 url("http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png") repeat left top;
  left: -285px;
  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 250px;
  top: 0;
}

/* Basic styling */
/* line 68, ../scss/style.scss */
.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;
}

/* line 75, ../scss/style.scss */
.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

/* line 84, ../scss/style.scss */
.menu a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 91, ../scss/style.scss */
.iconClose {
  color: #d2f497;
  font-size: 1.5em;
  cursor: pointer;
  margin: 140px 0 6px 210px;
}

/* line 98, ../scss/style.scss */
.iconMenu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 2px 0 2px 25px;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 109, ../scss/style.scss */
section {
  margin-bottom: 50px;
  height: 92%;
}

/* line 114, ../scss/style.scss */
footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  margin-bottom: 0px;
  clear: both;
  background-color: black;
}

/* line 129, ../scss/style.scss */
.article_one h2 {
  margin-left: 40px;
  font-family: 'Advent Pro', sans-serif;
  color: darkred;
  font-size: 20px;
  color: darkred;
  font-size: 20px;
  font-weight: bold;
}
/* line 144, ../scss/style.scss */
.article_one p {
  margin-left: 25px;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-size: 15px;
  text-align: justify;
  margin-right: 30px;
  margin-bottom: 35px;
}

/* line 129, ../scss/style.scss */
.article_two h2 {
  margin-left: 40px;
  font-family: 'Advent Pro', sans-serif;
  color: darkred;
  font-size: 20px;
  color: darkred;
  font-size: 20px;
  font-weight: bold;
}
/* line 144, ../scss/style.scss */
.article_two p {
  margin-left: 25px;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-size: 15px;
  text-align: justify;
  margin-right: 30px;
  margin-bottom: 35px;
}

/* line 129, ../scss/style.scss */
.article_three h2 {
  margin-left: 40px;
  font-family: 'Advent Pro', sans-serif;
  color: darkred;
  font-size: 20px;
  color: darkred;
  font-size: 20px;
  font-weight: bold;
}
/* line 144, ../scss/style.scss */
.article_three p {
  margin-left: 25px;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-size: 15px;
  text-align: justify;
  margin-right: 30px;
  margin-bottom: 35px;
}

/* line 129, ../scss/style.scss */
.article_four h2 {
  margin-left: 40px;
  font-family: 'Advent Pro', sans-serif;
  color: darkred;
  font-size: 20px;
  color: darkred;
  font-size: 20px;
  font-weight: bold;
}
/* line 144, ../scss/style.scss */
.article_four p {
  margin-left: 25px;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-size: 15px;
  text-align: justify;
  margin-right: 30px;
  margin-bottom: 35px;
}

/* line 164, ../scss/style.scss */
.article_five {
  margin-bottom: 60px;
}
/* line 129, ../scss/style.scss */
.article_five h2 {
  margin-left: 40px;
  font-family: 'Advent Pro', sans-serif;
  color: darkred;
  font-size: 20px;
  color: darkred;
  font-size: 20px;
  font-weight: bold;
}
/* line 144, ../scss/style.scss */
.article_five p {
  margin-left: 25px;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-size: 15px;
  text-align: justify;
  margin-right: 30px;
  margin-bottom: 35px;
}

/* line 178, ../scss/style.scss */
.image1 {
  width: 80px;
  height: 80px;
  margin: 0 15px 10px 25px;
  float: left;
}

/* line 184, ../scss/style.scss */
.image2 {
  width: 80px;
  height: 80px;
  margin: 0 15px 10px 25px;
  float: right;
  margin: 0 30px 10px 15px;
}

/* line 192, ../scss/style.scss */
.image3 {
  width: 80px;
  height: 80px;
  margin: 0 15px 10px 25px;
  float: left;
}

@media screen and (min-width: 300px) and (orientation: landscape) {
  /* line 209, ../scss/style.scss */
  .image1 {
    width: 145px;
    height: 145px;
    margin: 0 20px 10px 25px;
    float: right;
  }

  /* line 215, ../scss/style.scss */
  .image2 {
    width: 145px;
    height: 145px;
    margin: 0 20px 10px 25px;
    float: left;
  }

  /* line 221, ../scss/style.scss */
  .image3 {
    width: 145px;
    height: 145px;
    margin: 0 20px 10px 25px;
    float: right;
  }

  /* line 227, ../scss/style.scss */
  .logo {
    margin: 35px;
    height: 200px;
    width: 200px;
    position: fixed;
  }

  /* line 237, ../scss/style.scss */
  h1 {
    display: block;
    float: left;
    text-align: left;
    font-size: 40px;
    background-color: transparent;
    margin-left: 150px;
    color: orange;
    margin-top: 120px;
    position: relative;
    z-index: 1;
    text-shadow: 0px 0px 5px #969696;
    text-shadow: 61px 43px 7px rgba(150, 150, 150, 0);
  }

  /* line 253, ../scss/style.scss */
  .navigation {
    width: 22%;
    float: left;
    position: fixed;
    font-size: 15px;
  }
  /* line 259, ../scss/style.scss */
  .navigation .logo {
    float: left;
    margin-top: 0px;
    display: block;
    height: 200px;
    width: 200px;
  }

  /* line 269, ../scss/style.scss */
  menu, .iconMenu {
    display: none;
    clear: both;
  }

  /* line 274, ../scss/style.scss */
  .menuLarge {
    float: left;
    margin-top: 200px;
    position: fixed;
    display: block;
    clear: both;
  }
  /* line 281, ../scss/style.scss */
  .menuLarge ul li a {
    color: green;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 17px;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0), -1px 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 0), 0 -1px 0 rgba(0, 0, 0, 0), 1px 1px rgba(0, 0, 0, 0), -1px -1px 0 rgba(0, 0, 0, 0), 1px -1px 0 rgba(0, 0, 0, 0), -1px 1px 0 rgba(0, 0, 0, 0);
  }
  /* line 291, ../scss/style.scss */
  .menuLarge ul li {
    margin-top: 12px;
  }

  /* line 297, ../scss/style.scss */
  section {
    display: block;
    float: right;
    max-width: 800px;
    width: 78%;
    margin: 50px 35px;
  }

  /* line 306, ../scss/style.scss */
  p {
    text-shadow: 0px 0px 1px rgba(255, 179, 0, 0);
  }

  /* line 311, ../scss/style.scss */
  .sec-title {
    color: lightgrey;
    text-shadow: -32px -68px 7px rgba(150, 150, 150, 0);
    margin: -50px 30px 0 460px;
  }

  /* line 318, ../scss/style.scss */
  .third-title {
    color: lightgrey;
    text-shadow: -32px -68px 7px rgba(150, 150, 150, 0);
    margin: 80px 0px 0 860px;
  }

  /* line 325, ../scss/style.scss */
  .article_one {
    margin-top: -95px;
  }
}
