@mixin article {

	margin-left: 15px;

@font-face {

    font-family: Advent Pro;
    
    src: url (http://fonts.googleapis.com/css?family=Advent+Pro:400,100);
    }

h2 {

	font-family: 'Advent Pro', sans-serif;
	color: darkred;
	font-size: 20px;
    font-family: 'Advent Pro', sans-serif;
    color: darkred;
    font-size: 20px;

	  }

@font-face {
    
    font-family: Josefin Sans;
    
    src: url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,400);
}
	  
p {

	  font-family: 'Josefin Sans', sans-serif; 
	  color: black;
	  font-size: 13px;

	  }

	  h1 {
	  color: red;
	  }
}



.article_one { @include article; }
.article_two { @include article; }
.article_three { @include article; }
.article_four { @include article; }
.article_five { @include article; }
.article_six { @include article; }



