 h1 {
  position: fixed;
  background: orange;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  color: white;
  padding: 7px 7px;
  z-index:1;
}




.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 100px;
  height: 100px;
}

.menuLarge {
    display: none;
}

ul {
  list-style: none;
  }

li a {
  text-decoration: none;
  color: pink;
}

#wrapper {
  background-color: lightgrey;
}




/* Initial body */
body {
  left: 0;
  margin: 0;
  height: 100%;
  overflow: auto;
  position: relative;
  background-color: lightgrey;
}

/* Initial menu */
.menu {
  background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 250px;
  top: 0;
}

/* Basic styling */

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

.iconClose {
  color: #d2f497;
  font-size: 1.5em;
  cursor: pointer;
  margin: 140px 0 6px 210px;
}

.iconMenu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 2px 0 2px 25px;
  text-decoration: none;
  text-transform: uppercase;

}

section {
  margin-bottom:50px;
  height: 92%;
}

footer {
  width: 100%;
 position: fixed;
 bottom:0px;
  margin-bottom:0px;
  clear:both;
  background-color: black;


}


@mixin article {


h2 {


  margin-left: 40px;
  font-family: 'Advent Pro', sans-serif;
  color: darkred;
  font-size: 20px;
  color: darkred;
  font-size: 20px;
  font-weight: bold;


    }

    
p {

    margin-left: 25px;
    font-family: 'Josefin Sans', sans-serif; 
    color: black;
    font-size: 15px;
    text-align: justify;
    margin-right: 30px;
    margin-bottom: 35px;

    }

}



.article_one { @include article; }
.article_two { @include article; }
.article_three { @include article; }
.article_four { @include article; }
.article_five { 
@include article; 
margin-bottom: 60px;

}

  @mixin new-image {
  
width: 80px;
height: 80px; 
margin: 0 15px 10px 25px;

}
 
.image1 { 

@include new-image;
float: left;
 }

.image2 { 

@include new-image; 
float: right;
margin: 0 30px 10px 15px;

}

.image3 { 

@include new-image;
float: left;
 }

@media screen and (min-width: 300px) and (orientation: landscape) {
  
    
      @mixin new-image {
  
width: 145px;
height: 145px; 
margin: 0 20px 10px 25px;

}
 
.image1 { 

@include new-image;
float: right;
 }

.image2 { 

@include new-image; 
float: left;
}

.image3 { 

@include new-image;
float: right;
 }

 .logo {

 margin: 35px;
 height: 200px;
 width: 200px;
 position: fixed;


 }

    h1 {
    display: block;    
        float: left;
    text-align: left;
    font-size: 40px;    
    background-color: transparent;
        margin-left: 150px;
    color: orange;
    margin-top: 120px;
    position: relative;  
    z-index: 1; 
    text-shadow: 0px 0px 5px rgba(150, 150, 150, 1); 
    text-shadow: 61px 43px 7px rgba(150, 150, 150, 0.35);

    }
    
    .navigation {
    width: 22%;
    float: left;
    position: fixed;
    font-size: 15px;
    
    .logo { 
      float: left;
      margin-top: 0px;  
      display: block;
      height: 200px;
      width: 200px;          
    }
  }
    
 
  menu, .iconMenu {
  display: none;
      clear: both;
  }

    .menuLarge {  
    float: left;
    margin-top: 200px;    
    position: fixed;
    display: block;
    clear: both;
        ul {
            li a {
            color: green;
            font-size: 20px;
            font-family: 'Josefin Sans', sans-serif;
            margin: 17px; 

            text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.25), 1px 1px rgba(0, 0, 0, 0.25), -1px -1px 0 rgba(0, 0, 0, 0.25), 1px -1px 0 rgba(0, 0, 0, 0.25), -1px 1px 0 rgba(0, 0, 0, 0.25);

            }

            li {
            margin-top: 12px;
            }
        }
    }
    
    section {
        display: block;
        float: right;           
        max-width: 800px;
        width: 78%;
        margin: 50px 35px;
        
    }

p {
  text-shadow: 0px 0px 1px rgba(255, 179, 0, 0.40);

}
    
    .sec-title {
        color: lightgrey;
        text-shadow: -32px -68px 7px rgba(150, 150, 150, 0.25);
        margin: -50px 30px 0 460px;

        }

    .third-title {
        color: lightgrey;
        text-shadow: -32px -68px 7px rgba(150, 150, 150, 0.18);
        margin: 80px 0px 0 860px;

    }

.article_one {

    margin-top: -95px;
  }



}

