@mixin article {

	  margin-left: 15px;

	  h2 {
	  @import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,100);
	  font-family: 'Advent Pro', sans-serif;
	  color: darkred;
	  font-size: 20px;

	  }

	  p {
	  @import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,400);
	  font-family: 'Josefin Sans', sans-serif; 
	  color: black;
	  font-size: 13px;

	  }

	  h1 {
	  color: red;
	  }
}


.article_one { @include article; }
.article_two { @include article; }
.article_three { @include article; }